/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family:sans-serif;
}
body{
	background-color:#f8f8f8;
	height:600px;
	width:350px;
	border-top:1px solid black;
}
.book-library{
	background-color:#ffffff;
	height:575px;
	width:100;
	margin:10px 20px;
	border-radius:3px;
	box-shadow:20px;
}
#m-heading{
	background-color:rgb(241,241,240);
	text-align:center;
	padding:7px;
	
}
.book{
	height:169px;
	padding:10px;
	background-color:rgb(241,241,240);
	border-radius:4px;
}
.book>img{
	height:85px;
	width:80px;
	margin-left:100px;
}
.main-content{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	padding-top:10px;
	width:300px;
}
#value{
	width:280px;
	padding:2px;
}
.book>div>button{
	background-color:rgb(46, 204, 113);
	border:none;
	border-radius:4px;
	color:rgb(255, 255, 255);
}
.b2{
	margin-bottom:10px;
	margin-top:10px;
}
.book>p{
	font-size:13px;
	color:rgb(119, 119, 119);
}

